* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #efefef;
  font-family: 'Trebuchet MS', sans-serif;
}

.switch_width_changer_dv {
  border: 1px solid #eee;
  height: 50px;
  width: 100%;
  max-width: 350px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.switch_width_changer_txt {
  padding: 0 15px;
  margin: 0;
  flex-shrink: 0;
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
}

.switch_width_changer {
  border: hidden;
  outline: none;
  height: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  border-left: 2px solid #efefef;
  width: 100%;
  text-align: center;
}